<input type="text" ng-model="search" class="form-control" class="search-query" placeholder="Search">
<table class="table table-striped">
  <thead>
  <tr>
    <th>Image</th>
    <th>Exercise</th>
    <th><a href="#/create/exercise"><span class="glyphicon glyphicon-plus-sign"></span></a></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="item in exercise | filter:search | orderBy:'name'">
    <td><img ng-src="{{item.img}}"></td>
    <td>{{item.name}}</td>
    <td>
      <a href="#/edit/exercise/{{item.$id}}"><span class="glyphicon glyphicon-pencil"></span></a>
    </td>
  </tr>
  </tbody>
</table>
