<form role="form" class="form-horizontal">
	<div class="form-group">
	  <label class="col-lg-2 control-label">Locker:</label>
	  <div class="col-lg-10">
	  	<input class="input-lg form-control" type="text" name="locker" ng-model="user.locker">
		</div>
	</div>
	<div class="form-group">
	  <label class="col-lg-2 control-label">Select Workout:</label>
	  <div class="col-lg-10">
		  <select ng-controller="WorkoutsViewCtrl" class="form-control" ng-model="workouts" ng-options="item.$id as item.name for item in workouts | orderBy:'name'"></select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-offset-2 col-lg-10">
			<button class="btn btn-primary btn-lg" type="button" ng-click="saveAndWorkout()">I Workout</button>
		</div>
	</div>
</form>


