<input type="text" class="form-control" ng-model="search" class="search-query" placeholder="Search">
<table>
  <thead>
  <tr>
    <th>Image</th>
    <th>Workout</th>
    <th><a href="#/create/workouts"><span class="glyphicon glyphicon-plus-sign"></span></a></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="item in workouts | filter:search | orderBy:'description'">
    <td><img ng-src="{{item.img}}"></td>
    <td>{{item.description}}</td>
    <td>
      <a href="#/edit/workouts/{{item.$id}}"><span class="glyphicon glyphicon-pencil"></span></a>
    </td>
  </tr>
  </tbody>
</table>
